SamenSterker/SamenSterker_User/Service References/SamenSterkerServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SamenSterker_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49846/SamenSterker_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49846/SamenSterker_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49846/SamenSterker_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SamenSterker_WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISamenSterker_Service_GetAllCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContracts" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractsResponse" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllContractFormula_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractFormula" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllContractFormula_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractFormulaResponse" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocations" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReservations" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_GetAllReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_AddReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReservation" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_AddReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReservationResponse" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_UpdateReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReservation" />
  </wsdl:message>
  <wsdl:message name="ISamenSterker_Service_UpdateReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="ISamenSterker_Service">
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllCompanies" message="tns:ISamenSterker_Service_GetAllCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllCompaniesResponse" message="tns:ISamenSterker_Service_GetAllCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllContracts" message="tns:ISamenSterker_Service_GetAllContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllContractsResponse" message="tns:ISamenSterker_Service_GetAllContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContractFormula">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllContractFormula" message="tns:ISamenSterker_Service_GetAllContractFormula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllContractFormulaResponse" message="tns:ISamenSterker_Service_GetAllContractFormula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllLocations" message="tns:ISamenSterker_Service_GetAllLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllLocationsResponse" message="tns:ISamenSterker_Service_GetAllLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllReservations" message="tns:ISamenSterker_Service_GetAllReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamenSterker_Service/GetAllReservationsResponse" message="tns:ISamenSterker_Service_GetAllReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamenSterker_Service/AddReservation" message="tns:ISamenSterker_Service_AddReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamenSterker_Service/AddReservationResponse" message="tns:ISamenSterker_Service_AddReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISamenSterker_Service/UpdateReservation" message="tns:ISamenSterker_Service_UpdateReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISamenSterker_Service/UpdateReservationResponse" message="tns:ISamenSterker_Service_UpdateReservation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISamenSterker_Service" type="tns:ISamenSterker_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCompanies">
      <soap:operation soapAction="http://tempuri.org/ISamenSterker_Service/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContracts">
      <soap:operation soapAction="http://tempuri.org/ISamenSterker_Service/GetAllContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContractFormula">
      <soap:operation soapAction="http://tempuri.org/ISamenSterker_Service/GetAllContractFormula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <soap:operation soapAction="http://tempuri.org/ISamenSterker_Service/GetAllLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReservations">
      <soap:operation soapAction="http://tempuri.org/ISamenSterker_Service/GetAllReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReservation">
      <soap:operation soapAction="http://tempuri.org/ISamenSterker_Service/AddReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReservation">
      <soap:operation soapAction="http://tempuri.org/ISamenSterker_Service/UpdateReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SamenSterker_Service">
    <wsdl:port name="BasicHttpBinding_ISamenSterker_Service" binding="tns:BasicHttpBinding_ISamenSterker_Service">
      <soap:address location="http://localhost:49846/SamenSterker_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>